<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-gray-100 text-zinc-800 py-10 max-w-screen-xl mx-auto">
    
    <%- include('partials/navigation') %>
    <%- include('partials/feedback') %>

    <div class="space-y-8">

        <% for (const element in [1,2,3]) { %>
            <%- include('partials/card') %>
        <% } %>

    </div>

    <%- include('partials/footer') %>
    

    <script>
        feather.replace();
    </script>

</body>
</html>